  /* ----------------- Form Styling ------------------ */
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }

  /* containers for inputs */
  .items {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .comments-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 40px 0 0;
  }
  .comments {
    width: 80%;
    height: 100px;
    padding: 20px;
    margin: 0 40px;
    font-size: 12px;
    word-spacing: -2px;
  }

  .home-greeting {
    display: flex;
    justify-content: flex-end;
  }
  .home-greeting>* {
    padding: 0 8px;
  }
  /* inputs */
  .form-header {
    padding: 0 20px;
    width: 50%;
    text-align: left;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form__container {
    align-self: center;
  }

  .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .expense-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    min-width: 500px;
    background-color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .expense-section-checkbox {
    padding: 10px;
    margin: 5px;
  }
  .CC {
    text-align: center;
  }
  .por-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: dotted black 1px;
    padding: 10px;
    max-width: 600px;
    min-width: 500px;
  }
  .por-section-left, .por-section-right, .left-aside, .right-aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1000px) {
    .expense-section {
      align-items: start;
      flex-direction: row;
      min-width: 880px;
    }
    .por-section-container {
      flex-direction: row;
      min-width: 880px;
    }

  }
  /* temporary */
  h2 {
    color: white;
    width: 100%;
    padding: 10px;
    border-bottom: white solid 1px;
  }

  /* for header + input field */
  .input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
  }

  .input-wrapper input {
    margin: 5px;
  }

  .color-billable {
    outline: solid 2px green;
  }

  .color-notBillable {
    outline: solid 2px red;
  }

  .file-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    margin: 0;
  }

  /* ITEMS SECTION */
  .items-section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
  }

  .items-table {
    width: 100%;
    max-width: 600px;
    /* Set a maximum width for the table */
    min-width: 500px;
    border-radius: 20px;
    padding: 10px;
  }

  /* ----------------- Item Form Styling ---------------- */
  .bot-items {
    width: 60px;
  }

  .bot-items input {
    height: 4px;
    width: 56px;
  }

  .table_row {
    display: flex;
    flex-direction: row;
    width: 875px;
    justify-content: space-between;
  }
  .table_row th {
    width: 60px;
  }

  /* Adjusted styling for table headings */
  .data_table th {
    width: 20%;
    /* Set a fixed width for table headings */
    text-align: left;
  }

  .data_table td {
    border: 1px solid #ddd;
    padding: 2px 5px;
    text-align: left;
    white-space: nowrap;
  }

  /* -------------------------------------------------------------- */


  /* ---------------- Checkbox Styling ------------------ */

  /* Customize the label */
  .checkbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 60px;
  }
  .checkbox__del {
    width: 60px;
  }

  .checkbox__container label {
    padding: 0 10px;
    font-size: 16px;
  }

  input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    /* margin: 0; */
    width: 1.15em;
    height: 1.15em;
    /* Checkbox Border Color */
    border: 1px solid black;
    border-radius: 50%;
    transform: translateY(-0.4em);

    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset .5em .5em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
    /* Checkmark Color */
    background-color: black;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(0.9);
  }

  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }




  /* input values for row */
  .add-row {
    width: 30px;
  }

  /* Buttons */
  .btn_add,
  .btn_del {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    height: 30px;
    width: 30px;

  }

  .btn_add {
    font-size: 30px;
    align-items: center;
    background-color: rgb(102, 139, 230);
  }

  .btn_add:hover {
    background-color: rgb(70, 112, 221);

  }

  .btn_del {
    background-color: rgba(255, 255, 255, 0.739);
    width: 30px;
  }

  .btn_del:hover {
    background-color: white;
    color: black;
  }

  .stdropdown-input,
  .stsearch-box {
    width: 80px;
  }


  .data_table {
    border-collapse: collapse;
    table-layout: auto;
    /* Set the table layout to auto */
    width: 100%;
    /* Set the width of the table to 100% */
  }

  .data_table th,
  .data_table td {
    border: 1px solid #ddd;
    /* Add borders for better visibility */
    padding: 2px 5px;
    /* Add padding for spacing within cells */
    text-align: left;
    /* Adjust text alignment as needed */
    white-space: nowrap;
    /* Prevent content from wrapping */
    width: auto;
    /* Set the width of each cell to auto */
  }

  .billable-data, .nonBillable-data, .totals-data {
    display: flex;
    flex-direction: column;
  }