  /* ----------------- Form Styling ------------------ */
  
  /* containers for inputs */
  .top-items {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    outline: solid white 1px;
    padding: 10px 20px 10px 0;
  }
  
  /* inputs */
  .form-header {
    padding: 0 20px;
  }
  
  /* for header + input field */
  .input_wrapper {
    display: flex;
    flex-direction: row;
  }
  .form-control {
    width: 30px;
  }
  
  
  /* ---------------- Checkbox Styling ------------------ */
  
  /* Customize the label */
  .checkbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 80px;
  }
  .checkbox__container label {
    padding: 0 10px;
    font-size: 16px;
  }
  input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
    width: 1.15em;
    height: 1.15em;
    /* Checkbox Border Color */
    border: 0.15em solid white;
    border-radius: 0.15em;
    transform: translateY(-0.4em);
  
    display: grid;
    place-content: center;
  }
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset .5em .5em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
    /* Checkmark Color */
    background-color: white;
  }
  
  input[type="checkbox"]:checked::before {
    /* Checkmark size */
    transform: scale(1.3);
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
  
  
  /* ----------------- Itemized Form Styling ---------------- */
  .bot-items {
    width: 80px;
  }
  .bot-items input {
    height: 4px;
  }
  
  .item__container {
    display: flex;
    flex-direction: row;
    width:100%
  }
  .itemized__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .table_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .billable_col {
    width: 50px;
  }
  .subtotal_col {
    width: 50px;
  }
  .citytax_col {
    width: 60px;
  }
  .total_col {
    width: 50px;
  }

  /* -------------------------------------------------------------- */
   /* input values for row */

  .add-row {
    width: 30px;
  }

  /* Buttons */
  .btn_add, .btn_del {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    height: 30px;
    width: 30px;
  
  }
  .btn_add {
    font-size: 30px;
    align-items: center;
    background-color: rgb(102, 139, 230);
  }
  .btn_add:hover {
    background-color: rgb(70, 112, 221);
  
  }
  .btn_del {
    background-color: rgba(255, 255, 255, 0.739);
    width: 30px;
  }
  .btn_del:hover {
    background-color: white;
    color: black;
  }
  
  .stdropdown-input, .stsearch-box {
    width: 80px;
  }
  
  
  .data_table {
    border-collapse: collapse;
    table-layout: auto; /* Set the table layout to auto */
    width: 100%; /* Set the width of the table to 100% */
  }
  
  .data_table th, .data_table td {
    border: 1px solid #ddd; /* Add borders for better visibility */
    padding: 2px 5px; /* Add padding for spacing within cells */
    text-align: left; /* Adjust text alignment as needed */
    white-space: nowrap; /* Prevent content from wrapping */
    width: auto; /* Set the width of each cell to auto */
    overflow: hidden;
  }