html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 99vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container h2 {
  font-size: 32px;
}


label {
  text-align: left;
  padding: 0.3rem 0;
  font-size: 18px;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

button,
.btn,
.link-btn {
  border: none;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  font-weight: 500;
  font-size: 18px;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.amount-input,
.file-input {
  margin: 10px 0;
}

.file-input::file-selector-button {
  color: black;
  border-radius: 20px;
  padding: 0.5rem;
  border: 0.1px solid black;
  border-radius: 3px;
  margin-right: 45px;
}

.file-area {
  margin: 5px;
  padding: 10px;
  border: solid white 1px;
  border-radius: 15px;
}

.nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5vw;
}

.amount_header {
  font-size: 24px;

}

.user_name {
  font-size: 24px;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

/* Home  */

.logout_home,
.login_home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logout_home h3,
.login_home h3 {
  text-align: center;
}

.login_home_btn,
.logout_home_btn {
  text-decoration: none;
  background-color: white;
  color: #7439db;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

.home_submit_btn {
  display: flex;
  justify-content: center;
  width: 200px;
}

/* ----------------- Form Styling ------------------ */

/* wrapper (around form) */
.form__wrapper {
}

/* form container */
.form__content {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}

.left_aside,.right_aside {
  width: 50%;
}
.right_aside {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* containers for inputs */
.cellphone__container,
.landline__container,
.longdist__container,
.broadband__container,
.itemized__container,
.entertainment__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: solid white 1px;
  padding: 10px 20px 10px 0;
}

/* inputs */
.cellphone__header,
.business_landline__header,
.long_distance__header,
.broadband__header,
.itemized_purchases__header,
.entertainment__header {

  padding: 0 20px;

}

/* file input */
.file-input {

}

.input_wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.input_wrapper label {
  
}

/* ---------------- Checkbox Styling ------------------ */

/* Customize the label */
.checkbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  width: 20%;
}
.checkbox__container label {
  padding: 0 10px;
  font-size: 20px;
}
input[type="checkbox"] {

  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset .5em .5em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(2);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

@media screen and (max-width: 1180px) {
  html {
    height: auto;
  }
  .form__content {
    flex-direction: column;
  }
  .left_aside,.right_aside {
    width: 100%;
  }
}