html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}
.auth-form-container h2 {
  font-size: 32px;
}


@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.3rem 0;
  font-size: 18px;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

button, .btn, .link-btn {
  border: none;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  font-weight: 500;
  font-size: 18px;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.amount-input, .file-input {
  margin: 10px 0;
}
.drag-drop-area {
  display: flex;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;;
  border: 1px solid white;
}

/* Home  */

.logout_home, .login_home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.logout_home h3, .login_home h3 {
  text-align: center;
}

.login_home_btn, .logout_home_btn {
  text-decoration: none;
  background-color: white;
  color: #7439db;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

.home_submit_btn {
  display: flex;
  justify-content: center;
  width: 200px;
}