html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}
.auth-form-container h2 {
  font-size: 32px;
}




label {
  text-align: left;
  padding: 0.3rem 0;
  font-size: 18px;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

button, .link-btn {
  border: none;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  border: solid white 1px;
  padding: 80px;
  border-radius: 15px;
}

.amount-input, .file-input {
  margin: 10px 0;
}
.file-input::file-selector-button {
  color: black;
  border-radius: 20px;
  padding: 0.5rem;
  border: 0.1px solid black;
  border-radius: 3px;
  margin-right: 45px;
}
.file-area {
  margin: 5px;
  padding: 10px;
  border: solid white 1px;
  border-radius: 15px;
}

.nav div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5vw;
}
.amount_header {
  font-size: 24px;

}
.user_name {
  font-size: 24px;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
  .card {
    border: solid white 1px;
  }
}
@media screen and (max-width: 600px) {

  .card {
    border: none;
  }
}